*{
    margin:0px;
    box-sizing: border-box;
}
html, body{
width: 100%;
height: 100%;
}
body{
    background-color: rgba(0, 0, 0, 0.486);
}
.main{
    height: 800px;
    position: relative;
    color: white;
    background-color: white;
}
button{
    padding: 5px;
    width: 140px;
    border-radius: 10px;
}

/* The element to apply the animation to */

.holdingall{
    height:700px;
    width:90%;
     background-color: black;
     position: absolute;
    top: 50px;
    left: 10%;
    box-shadow: 2px 2px 8px;
    border-radius: 10%;
    /* background-color: red; */
   
}
.header {
    background-color: black;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    margin-top: 20px;
    border-radius: 50%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    /* background-color: #fff; */
    display: flex;
  }
  
  .header li a {
    display: block;
    padding: 20px 70px;
    /* border-right: 1px solid #f4f4f4; */
    text-decoration: none;
    
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  .header .logo {
    display: block;
    /* float: left; */
    /* width: 50%; */
    font-size: 2em;
    padding: 10px;
    text-decoration: none;
    margin-left: 40px;

  }
  .menu{
    display: flex;
    border-radius: 40px;
    margin-right: 70px;
    font-size: 2em;
      
  }
  
  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    margin-right: 5px;
  }
  

.textwrap{
    height: 250px;
}

 .righttext img{
      height: 250px;
      /* padding-top: 90px; */
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 2px 2px 5px;
      animation-name: new;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  
     
} 
.righttext{
    height: 250px; 
    padding-top: 90px;
}

.lefttext{
     height: 350px;
     margin-right: 0px;
     padding-left: 70px;
     padding-top: 90px;

}
.socialicons{
    height: 300px;
    background-color: rgba(224, 216, 216, 0.678);
}
 .social{
    width: 80%;
    /* position: absolute;
    top: 250px;
    left: 20%; */
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    
    
    } 
    .fa{
        /* background-color: rgb(190, 184, 184); */
        font-size: 20px;
        text-align: center;
        border: 1px solid gray;
        border-radius: 25px;
       
        padding: 10px; 
        /* margin-right: 95px; */
        margin-top: 130px;
    }
    .passion{
        /* display: flex; */
        width: 80%;
        height: 30px;
        margin: 0 auto;
        margin-top: 30px;
      
        text-align: center;
    }
    .newbox{
        width: 150px;
        height: 100px;
        background-color: white;
    }
    @media only screen and (max-width: 600px) {
        .holdingall{
            height:750px;
            width:90%;
            position: absolute;
            top: 50px;
            left: 5%;
            box-shadow: 2px 2px 8px;
            border-radius: 10%;
          
        }
        /* .logo{
            margin-left: 20px;
        } */
        .righttext img{
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 2px 2px 5px;
            width: 120px;
           
      } 
      .lefttext{
        height: 350px;
        margin-right: 0px;
        padding-left: 0px;
        padding-top: 90px;
        /* margin-left: 70px; */
   
        /* text-align: center; */
   }
   .fa{
       display: none;
   }
   .passion{
    display: flex;
    width: 80%;
    height: 30px;
    margin: 0 auto;
    margin-top: 180px;
    
}
    }